
article img {
   max-width: 100%;
   border-radius: 1%;
   padding-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    padding: 1%;
    font-size: x-large;
    font-weight: 600;
    -webkit-text-stroke: 0.5px #155837;
}
.contenedor {
   width: 100%;
   margin: 0 auto;
}
#flecha {
    width: 40px;
    position: fixed;
    bottom: 3vh;
    right: 5vh;

}
#flecha:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);


    
}
.contenido{
   display: inline-block;
   background-color: #d6f5e6;
   border: 1px solid #67c495;
   padding: 1rem;
   margin: 1rem;
   font-family: 'Titillium Web', sans-serif;
   color: #064b2b;
}

@media (min-width: 795px) {
   .dos-columnas {
       display: grid;
       grid-template-columns: repeat(2, 0.5fr);
       column-gap: 1rem;
   }
}