.contacto{
    width: 4vh;
    height: 4vh;
    padding-right: 4px; 
}
span a{
    text-decoration: none;
    color: #10442c;
}
.ubicacion {
    padding: 1rem;
}

iframe{
    width: 100%;

}

h2{
    font-size: 2rem;
    padding: 1rem;
    color: #003f27;
}

.contenedor{
    background-color: #d6f5e6;
    border: 1px solid #67c495;
    padding: 0.9rem;
    margin: 1rem;
    font-family: 'Titillium Web', sans-serif;
    color: #064b2b;
 }

label {
    padding-left: 0.5rem;
    
 }
 .genero{
    padding-left: 0.5rem;
 }

 fieldset{
    padding-right: 0.5rem;
    
 }
 .formulario__input{
    margin-left: 0.5rem;
    width: 70%;
	height: 20px;
	line-height: 20px;
	
 }

 #botones{
    display:flex;
    justify-content: space-evenly;
    
 }
 button{
    margin-top: 1rem;
    background-color: #24a584;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0 1.5em;
    border-radius: 0.3em;
    text-align: center;
 }
 button:hover{
    background-color: #24a5857c;
 }
 #flecha {
    width: 40px;
    position: fixed;
    bottom: 3vh;
    right: 5vh;

}
#flecha:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

/*efecto validar formulario*/
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	display: none;
    margin: 1rem;
    font-family: 'Titillium Web', sans-serif;
    color: #ee0707;
    font-size: 0.8rem;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__mensaje-exito {
	margin-top: 1rem;
    font-size: 14px;
	color: #119200;
    background: #60f6d148;
    border-radius: 3px;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

@media (min-width: 795px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        column-gap: 1rem;
    }
 }
 @media (max-width: 580px) {

    span{
        font-size: 0.7rem;
     }

    h2{    
        padding: 0.5rem;
    }

    .contacto{
        width: 2.5vh;
        height: 2.5vh;
    }
}
@media only screen and (max-width: 599px) {
    .contenedor{
        padding: 0.5rem;
        margin-top: 0.5rem;
     }
}
