*{
   margin: 0;
   padding: 0;
} 
header {
    padding: 1rem;
    background-image: linear-gradient(to right, 
    #a4a5a1,
    #61b356,
    #4ba33f,
    #277237,
    #159c4d,
    #2c3331,
    #525553,
    #49504b
  );
}
/* animacion barra redes*/
.barra-info {
	-webkit-animation: color-change-2x 10s linear infinite alternate both;
	 animation: color-change-2x 10s linear infinite alternate both;
     display: flex;
}
@-webkit-keyframes color-change-2x {
    60% {
        background: rgba(152, 231, 166, 0.942);
      }
      90% {
        background: rgba(33, 88, 46, 0.953);
      }
  }
  @keyframes color-change-2x {
    60% {
      background: rgba(152, 231, 166, 0.942);
    }
    90% {
      background: rgba(33, 88, 46, 0.953);
    }
  }
 
.contenedor-izq{
    display: inline-flex;
    justify-content: flex-start;
    padding: 0.7rem;
    font-size: 0.7rem;
    font-family: 'Titillium Web', sans-serif;
    color: #064b2b;

}
.telefono{
    margin-right: 1rem;
}
.material-symbols-outlined{
    font-size: 11px !important;
}
.email a{
    text-decoration: none;
    color: #064b2b
}

.contenedor-der{
    display: inline-flex;
    flex-direction: row-reverse;
    list-style: none;
    padding: 0.7rem;
    margin-left: auto; 
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2.5rem;

}
.contenedor-der img{
    width: 20px;
    height: 20px;
    padding-left: 0.4rem;
    filter: sepia(60%);

}
.contenedor-der img:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.3);
    transform:scale(1.7);
    padding-left: 0.7rem;
}

nav{
    background-image: url(../img/nav00.jpg);
    padding: 1rem;

}
#foto-logo-barra{
    width: 12vh;
    height: auto;
    position: absolute;
    top: 45px;
    left: 22px;
    filter: saturate(290%);
}

.barra-principal{
    list-style: none;
    display: flex;
    justify-content: center;
}
.barra-principal li a{ 
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem;
    font-family: 'Titillium Web', sans-serif;
    color: #0c5036;
    text-shadow: 10px 1px 3px rgb(247, 247, 247);
}

/*efecto botones barra*/
.efecto-boton {
    position: relative;
    margin: auto;
    padding: 15px 15px;
    transition: all 0.2s ease;
  }
  .efecto-boton:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    border-radius: 22px;
    background: rgba(5, 196, 91, 0.555);
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
  }
  .efecto-boton span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
 .efecto-boton svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #00af00;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .efecto-boton:hover:before {
    width: 100%;
    background: rgba(4, 209, 96, 0.5);
  }
  .efecto-boton:hover svg {
    transform: translateX(0);
  }
  .efecto-boton:active {
    transform: scale(0.96);
  }

body {
    background-image: linear-gradient(to right, 
    #a4a5a1,
    #61b356,
    #4ba33f,
    #277237,
    #159c4d,
    #2c3331,
    #525553,
    #49504b
  );

}
main section {
    padding: 0.5rem;
    
}

/* efecto carrusel*/
.carrousel span img{
    width: 35px;
    height: 35px;
    background-color: #459753;
    border-radius: 25px;
}
.carrousel span img:hover {
    filter: saturate(280%);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.carrousel{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.conteCarrousel{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height:100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.itemCarrouselTarjeta img{
    width: 80%;
    height: 60vh;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

footer{
    padding: 1rem;
    margin: 1rem;
    background: linear-gradient(90deg, rgba(110, 199, 125, 0.942) 70%, rgba(126, 255, 156, 0.953) 97%);
}
footer p{
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    color: #064b2b;
}
#flecha {
    display: none;
    width: 40px;
    position: fixed;
    bottom: 3vh;
    right: 5vh;

}
#flecha:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.3);
    transform:scale(1.3);   
}

@media only screen and (max-width: 455px) {
    main section{
        padding: 0.5rem;
    }
    
    nav{
      padding: 0.5rem;  
    }
    
    .barra-principal li a{
         font-size: 0.8rem;
   
    }
    .efecto-boton:before {  
        right: 2px;
    }
    .efecto-boton:before {
        left: initial;
        display: inline;
        border-radius: 22px;
        top: 25px;
        width: 15px;
        height: 15px;
    }

    header{
        padding-bottom: 0.5rem;      
    }
}

@media only screen and (max-width: 599px) {
    .contenedor-izq{
        display:none;
    }
    .contenedor-der{
        padding-right: 1rem;
    }
    .barra-principal li a{
    font-size: 0.8rem;
    margin: 0.7rem;
    }

    #foto-logo-barra{
        top:22px;
        left: 23px;
        width: 9vh;
    }
    .efecto-boton {
        padding: 4px 4px;
    }
      .efecto-boton:before {
        left: initial;
        display: inline;
        border-radius: 22px;
        width: 15px;
        height: 15px;
        
     }
      .efecto-boton span {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
   
    }
     .efecto-boton svg {
        position: relative;
        top: 20px;
        margin-left: 10px;

     }
    .carrousel span img{
        width: 25px;
        height: 25px;
        border-radius: 15px;
    }
    .itemCarrouselTarjeta img{
       object-fit: none;
       max-width: 100%;
       height: inherit;
    }
}

@media only screen and (min-width: 599px) and (max-width:795px ) {
    .barra-principal li a{
        font-size: 1rem;
        margin: 0.9rem;
    }
    .efecto-boton {
        padding: 10px 10px;
    }  
      
    .carrousel span img{
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
    .itemCarrouselTarjeta img {
        height: 100%;
    }
}
